/* https://bootsnipp.com/snippets/featured/hover-effect-with-amazing-effect */

.title-arch {
    text-align: center;
    margin: 50px 0;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.project {
width: 100%;
height: 500px;
background-image: url(https://previews.123rf.com/images/kchung/kchung1409/kchung140900239/31267529-selecci%C3%B3n-de-palabras-en-la-caja-de-producto-con-frases-relacionadas.jpg);
background-size: cover;
background-position: center;
padding: 0 !important;
float:left;
}

.project-2 {
background-image: url(https://combo.marketing/bigimages/30p.jpg);
}

.project-3 {
background-image: url(https://combo.marketing/bigimages/40p.jpg);
}

.project-4 {
background-image: url(https://www.drivetrafficmedia.com/wp-content/uploads/2016/01/Build-Social-Media-Following-to-Increase-SEO-Ranking-770x494.jpg);
}

.project-hover {
width: 100%;
height: 100%;
color: #fff;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(232, 2, 232, 0.7);
padding: 40% 30px !important;
}

.project-hover hr {
height: 30px;
width: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(255, 255, 255, 1);
border: 0;
}

.project-hover a {
color: rgba(255, 255, 255, 1);
padding: 2px 22px;
line-height: 40px;
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
border-color: rgba(51, 51, 51, 1);
color: rgba(51, 51, 51, 1);
background-color: #FFF;
}

.project:hover .project-hover {
opacity: 1;
}

.project:hover .project-hover hr {
width: 100%;
height: 5px;
}
